@charset "utf-8";
/* CSS Document */








body{
	background-color: cadetblue;
	margin:0px;
}

.NAV_BAR a{
text-decoration: none;	
	font-size: 20px;
	margin: 0px 25px;
	padding: 10px 10px;
	background-color: white;
	
}

.NAV_BAR{
	background-color:white;
	top:0;
	box-shadow: 2px 2px 5px 0px black;
	display:flex;
	justify-content:center;
}





.NAV_BAR a:hover{
	text-decoration: none;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 6px 6px 28px 0px black;
	
}





#Support_Me{
	background-color: white;
	padding: 5px 20px;
	margin: 0px;
	
	
}

#Support_Me a{
	text-decoration: none;
	
	
	
	
}


#CAW{
	
	color: black;
	font-size:50px;
	
	
	
}





.writing{
	
background-color: white;
	flex-wrap: wrap;
	text-align: center;
	margin: 1% 27.7%;
	padding: 0px 30px;



}






#sources{
	background-color: white;
	flex-wrap: wrap;
	text-align: center;
	margin: 10px 500px 20px 500px;
	padding: 0px 30px;
	
	
	
	
	
}


#sources a{
	text-decoration: none;




}





@media only screen and (max-width: 1000px) {
	
	.writing{
		margin:1% 5%;
	}
 
	.NAV_BAR{
	flex-direction:column;
	align-items:center;
	
}
	
	#CAW{
	
	font-size:30px;
	
	
	
}

}
























