@charset "utf-8";
/* CSS Document */




body{
	margin:0px;
}

.NAV_BAR a{
text-decoration: none;	
	font-size: 20px;
	margin: 20px 10px;
	padding: 10px 10px;
	background-color: white;
	
}
.NAV_BAR p{
	margin: 30px 10px;
}
.NAV_BAR{
	background-color:white;
	position:fixed;
	top:0;
	box-shadow: 2px 2px 5px 0px black;
}





.NAV_BAR a:hover{
	text-decoration: none;
	margin: 10px 10px;
	padding: 10px 10px;
	font-size: 20px;
	background-color: green;
	
	
}








#CModoc_Overview{
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	margin: 40px 500px 40px 500px;
	padding: 12px 30px;
	
	
	
	
	
}



#Nest_text{
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	margin: 40px 500px 40px 500px;
	padding: 12px 30px;
	
	
	
	
	
}


#Good_To_Know_CModoc{
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	margin: 40px 500px 40px 500px;
	padding: 12px 30px;
	
	
	
	
	
}



#Eating_Behavior_CModoc{
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	margin: 40px 500px 40px 500px;
	padding: 12px 30px;
	
	
	
	
	
}










#Founding_Time_Behavior_Flight_Time_CModoc{
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	margin: 40px 500px 40px 500px;
	padding: 12px 30px;
	
	
	
	
	
}


#modoc_Queen_Dealate{
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	margin: 40px 500px 40px 500px;
	padding: 40px 30px 12px 30px;
	
	
	
	
	
}




#modoc_Drone{
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	margin: 40px 500px 40px 500px;
	padding: 40px 30px 12px 30px;
	
	
	
	
	
}

#modoc_Major{
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	margin: 40px 500px 40px 500px;
	padding: 40px 30px 12px 30px;
	
	
	
	
	
}


#modoc_Size_Chart{
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	margin: 40px 500px 40px 500px;
	padding: 40px 30px 12px 30px;
	
	
	
	
	
}







#modoc_Queen_With_Worker_And_Brood{
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	margin: 40px 500px 40px 500px;
	padding: 40px 30px 12px 30px;
	
	
	
	
	
}


#Wild_modoc_Nest{
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	margin: 40px 200px 40px 200px;
	padding: 40px 30px 12px 30px;
	
	
	
	
	
}

#Wild_modoc_Nest img{
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	margin: 40px 20px 40px 20px;
	padding: 40px 30px 12px 30px;
	
	
	
	
	
}



#C_modoc_Nest_Inside{
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	margin: 40px 500px 40px 500px;
	padding: 40px 30px 12px 30px;
	
	
	
	
	
}





























































