@charset "utf-8";
/* CSS Document */





		
	





body{
	background-color: cadetblue;
	margin:0px;
}

.NAV_BAR a{
text-decoration: none;	
	font-size: 20px;
	margin: 0px 20px;
	padding: 10px 10px;
	background-color: white;
	
}

.NAV_BAR{
	background-color:white;
	top:0;
	box-shadow: 2px 2px 5px 0px black;
	display:flex;
	justify-content:center;
}





.NAV_BAR a:hover{
	text-decoration: none;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 6px 6px 28px 0px black;
	
	
}


#Support_Me{
	background-color: white;
	padding: 5px 20px;
	margin: 0px;
	
}


#Support_Me a{
	text-decoration: none;
	
	
	
	
}





#CAW{
	
	color: black;
	font-size:50px;
	
	
	
}


.Ant_Links{
	
background-color: white;
	flex-wrap: wrap;
	text-align: center;
	margin: 1% 27.7%;
	padding: 10px 30px;



}


.Ant_Links a{
	text-decoration: none;
	padding: 10px;
	margin: 10px;
}


.Ant_Links a:hover{
	
	border-radius: 10px;
	box-shadow: 6px 6px 28px 0px black;
}



.writing{
	
background-color: white;
	flex-wrap: wrap;
	text-align: center;
	margin: 1% 27.7%;
	padding: 10px 30px;



}


.writing a{
	text-decoration: none;
	padding: 10px;
	margin: 10px;
}



.writing a:hover{
	
	border-radius: 10px;
	box-shadow: 6px 6px 28px 0px black;
}


@media only screen and (max-width: 1200px) {
	
	.writing{
		margin:1% 5%;
		padding: 10px 30px;
	}
 
	.NAV_BAR{
	flex-direction:column;
	align-items:center;
}
	
	.NAV_BAR a{
		font-size: 50px;
	}
	
	
	.NAV_BAR a:hover{
		font-size: 50px;
		
		
	}
	
	#CAW{
	
	font-size:100px;
	
	
	
	}
	
	
	 .Ant_Links{
		font-size: 30px;
		
		
		
		
	}
	

}






















