@charset "utf-8";
/* CSS Document */





body{
	margin:0px;
}

.NAV_BAR a{
text-decoration: none;	
	font-size: 15px;
	margin: 2px 1px;
	padding: 5px 5px;
	background-color: white;
	
}
.NAV_BAR p{
	margin: 30px 10px;
}
.NAV_BAR{
	background-color:white;
	position:fixed;
	top:0;
	box-shadow: 2px 2px 5px 0px black;
}





.NAV_BAR a:hover{
	text-decoration: none;
	margin: 2px 1px;
	padding: 5px 5px;
	font-size: 15px;
	background-color: green;
	
	
}



#disclaimer{
	background-color: white;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	margin: 1px 185px 1px 185px;
	padding: 1px 30px;
	

	
}














.Camp_Page_Links{
	background-color: white;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	margin: 30px 185px 30px 185px;
	padding: 1px 30px 20px;
	

	
}

.Camp_Page_Links a{
	text-decoration: none;
	font-size: 25px;
	margin: 10px 10px;
	padding: 10px 10px;
}
	


.Camp_Page_Links a:hover{
	background-color: green;
	
}




.Pog_Page_Links{
	background-color: white;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	margin: 30px 185px 30px 185px;
	padding: 1px 30px 20px;
	

	
}


.Pog_Page_Links a{
	text-decoration: none;
	font-size: 25px;
	margin: 10px 10px;
	padding: 10px 10px;
}



.Pog_Page_Links a:hover{
	background-color: green;
	
}



.Formica_Page_Links{
	background-color: white;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	margin: 30px 185px 30px 185px;
	padding: 1px 30px 20px;
	

	
}


.Formica_Page_Links a{
	text-decoration: none;
	font-size: 25px;
	margin: 10px 10px;
	padding: 10px 10px;
}



.Formica_Page_Links a:hover{
	background-color: green;
	
}


.Pheidole_Page_Links{
	background-color: white;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	margin: 30px 185px 30px 185px;
	padding: 1px 30px 20px;
	

	
}


.Pheidole_Page_Links a{
	text-decoration: none;
	font-size: 25px;
	margin: 10px 10px;
	padding: 10px 10px;
}



.Pheidole_Page_Links a:hover{
	background-color: green;
	
}



.Tetramorium_Page_Links{
	background-color: white;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	margin: 30px 185px 30px 185px;
	padding: 1px 30px 20px;
	

	
}



.Tetramorium_Page_Links a{
	text-decoration: none;
	font-size: 25px;
	margin: 10px 10px;
	padding: 10px 10px;
}



.Tetramorium_Page_Links a:hover{
	background-color: green;
	
}



.Lasius_Page_Links{
	background-color: white;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	margin: 30px 185px 30px 185px;
	padding: 1px 30px 20px;
	

	
}


.Lasius_Page_Links a{
	text-decoration: none;
	font-size: 25px;
	margin: 10px 10px;
	padding: 10px 10px;
}



.Lasius_Page_Links a:hover{
	background-color: green;
	
}




.Solenopsis_Page_Links{
	background-color: white;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	margin: 30px 185px 30px 185px;
	padding: 1px 30px 20px;
	

	
}


.Solenopsis_Page_Links a{
	text-decoration: none;
	font-size: 25px;
	margin: 10px 10px;
	padding: 10px 10px;
}



.Solenopsis_Page_Links a:hover{
	background-color: green;
	
}



.Tapinoma_Page_Links{
	background-color: white;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	margin: 30px 185px 30px 185px;
	padding: 1px 30px 20px;
	

	
}


.Tapinoma_Page_Links a{
	text-decoration: none;
	font-size: 25px;
	margin: 10px 10px;
	padding: 10px 10px;
}


.Tapinoma_Page_Links a:hover{
	background-color: green;
	
}











































































